.r-sdzlij {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.tweetbutton {
    color: rgb(255, 255, 255);
    line-height: 1;
    font-weight: bold;
    font-size: 15px;
    min-height: 30px;
    min-width: calc(62.79px);
    background-color: rgb(29, 161, 242);
    border: none;
}

.r-156q2ks {
    margin-top: 10px;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-1w6e6rj {
    flex-wrap: wrap;
}

.r-184en5c {
    z-index: 1;
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-1wtj0ep {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-id7aif {
    margin-left: 2px;
    margin-right: 2px;
}

.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.r-1j3t67a {
    padding-left: 15px;
    padding-right: 15px;
}

.r-atwnbb {
    padding-bottom: 5px;
    padding-top: 5px;
}


.r-qklmqi {
    border-bottom-width: 1px;
}

.r-1ila09b {
    border-bottom-color: rgb(56, 68, 77);
}
.r-1adg3ll {
    display: block;
}


.r-156q2ks {
    margin-top: 10px;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-1w6e6rj {
    flex-wrap: wrap;
}

.r-184en5c {
    z-index: 1;
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-1wtj0ep {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-id7aif {
    margin-left: 2px;
    margin-right: 2px;
}