.add-tweet-form {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    padding-bottom: 10px;
    padding-top: 5px;
}

.avatar-container {
    display: flex;
    flex-basis: 49px;
    padding-top: 5px;
    margin-right: 10px;
}

.form-container {
    width: 100%;
}
.avatar {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

.input-container {
    position: static;
    justify-content: center;
    padding-top: 5px;
    display: flex;
    width: 100%;
}

textarea {
    width: 100%;
    background-color: rgb(21, 32, 43);
    color: white;
    resize: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    border-width: 2px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
}

textarea:hover {
    outline: none;
}
textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #8899a6;
}

.submit-btn {
    text-align: right;
    margin-right: 2px;
}

.tweet-btn {
    margin-top: 10px;
    min-width: calc(62.79px);
    background-color: rgb(29, 161, 242);
    min-height: 39px;
    outline-style: none;
    transition-property: background-color;
    transition-duration: 0.2s;

    border-width: 1px;
    border-radius: 9999px;
    border-color: rgba(0, 0, 0, 0);
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    line-height: 1;
    font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    align-items: center;
    cursor: pointer;
}

.divider {
    background-color: rgb(56, 68, 77);
    height: 1px;
    width: 100%;
}

.disabled {
    cursor: default;
    opacity: 0.5;
}
