.r-gtdqiz {
    position: sticky;
}

.r-qklmqi {
    border-bottom-width: 1px;
}

.r-rull8r {
    border-bottom-style: solid;
}

.r-1ila09b {
    border-bottom-color: rgb(56, 68, 77);
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-aqfbo4 {
    backface-visibility: hidden;
}

.r-1g40b8q {
    z-index: 3;
}
.r-ipm5af {
    top: 0px;
}

.r-136ojw6 {
    z-index: 2;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-1h3ijdo {
    height: 53px;
}

.r-1777fci {
    -webkit-box-pack: center;
    justify-content: center;
}

.r-1wbh5a2 {
    flex-shrink: 1;
}

.r-1pi2tsx {
    height: 100%;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-1habvwh {
    -webkit-box-align: start;
    align-items: flex-start;
}


.r-sb58tz {
    max-width: 1000px;
}

.r-1h3ijdo {
    height: 53px;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-1777fci {
    -webkit-box-pack: center;
    justify-content: center;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-13qz1uu {
    width: 100%;
}

.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}

.r-1h3ijdo {
    height: 53px;
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-1j3t67a {
    padding-left: 15px;
    padding-right: 15px;
}


.r-gtdqiz {
    position: sticky;
}

.r-qklmqi {
    border-bottom-width: 1px;
}

.r-rull8r {
    border-bottom-style: solid;
}

.r-1ila09b {
    border-bottom-color: rgb(56, 68, 77);
}


.r-61z16t {
    margin-right: 0px;
}

.r-11wrixw {
    margin-left: 0px;
}

.r-13l2t4g {
    border-right-width: 1px;
}

.r-1ljd8xs {
    border-left-width: 1px;
}

.r-184en5c {
    z-index: 1;
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-13qz1uu {
    width: 100%;
}

.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}

.r-18bvks7 {
    border-bottom-color: rgb(56, 68, 77);
    border-left-color: rgb(56, 68, 77);
    border-right-color: rgb(56, 68, 77);
    border-top-color: rgb(56, 68, 77);
}

.r-1phboty {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.r-o96wvk {
    width: 275px;
}

.r-1ye8kvj {
    max-width: 600px;
}