.r-1srniue {
    width: 1.5em;
}
.r-50lct3 {
    height: 1.5em;
}
.r-1q142lx {
    flex-shrink: 0;
}
.r-13gxpu9 {
    color: rgba(29, 161, 242, 1);
}
.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.r-1plcrui {
    vertical-align: text-bottom;
}
.r-bnwqim {
    position: relative;
}
.r-dnmrzs {
    max-width: 100%;
}
.r-yyyyoo {
    fill: currentcolor;
}
.r-4qtqp9 {
    display: inline-block;
}
user agent stylesheet svg:not(:root) {
    overflow: hidden;
}
.r-eljoum {
    line-height: 1;
}
.r-b88u0q {
    font-weight: 700;
}
.r-a023e6 {
    font-size: 15px;
}
.r-1qd0xha {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}
.r-qvutc0 {
    overflow-wrap: break-word;
}
.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}
.r-q4m81j {
    text-align: center;
}
.css-901oao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    display: inline;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
