.profile-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.profile-avatar {
    height: 100px;
    width: 100px;
    border-radius: 9999px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-name {
    font-weight: 800;
    line-height: 1.3125;
    font-size: 19px;
}

.profile-username {
    color: rgb(136, 153, 166);
    line-height: 1.3125;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.profile-bio {
    margin-bottom: 10px;
    font-size: 15px;
}

.names-container {
    display: flex;
    flex-direction: column;
}

.follow-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.follow-btn {
    border-color: rgb(29, 161, 242);
    border-radius: 9999px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 15px;
    min-width: calc(62.79px);
    cursor: pointer;
    min-height: 39px;
    height: 39px;
    color: rgb(29, 161, 242);
    background-color: rgb(21, 32, 43);
    margin-right: 10px;
    transition-duration: 0.2s;
}

.follow-btn:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.back-btn:hover {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 9999px;
}

.delete-prof-btn {
    border-color: rgb(224, 36, 94);
    border-radius: 9999px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 15px;
    min-width: calc(62.79px);
    cursor: pointer;
    min-height: 39px;
    transition-duration: 0.2s;
    height: 39px;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 36, 94);
}
.delete-prof-btn:hover {
    background-color: rgba(224, 36, 94, 0.9);
    border-color: rgba(224, 36, 94, 0.9);
}

.stats {
    font-weight: 700;
    line-height: 1.3125;
}

.stat-label {
    color: rgb(136, 153, 166);
    line-height: 1.3125;
}

.followers-count {
    margin-right: 20px;
}
.create-profile {
    padding: 10px;
    margin-top: 10px;
    margin-right: 0;
}

.create-profile:hover {
    text-decoration: none;
}
