.header-logo-container {
    width: 100%;
    padding-top: 25px;
}

.header-logo {
    height: 40px;
    width: 40px;
    fill: rgb(255, 255, 255);
    padding-left: 10px;
}

.header-item {
    display: flex;
    flex-direction: row;
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-item:hover {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.header-hover {
    padding: 10px;
    display: flex;
    transition-duration: 0.2s;
}

.header-hover:hover {
    border-radius: 9999px;
    background-color: rgba(29, 161, 242, 0.1);
    color: rgba(29, 161, 242, 1);
    fill: rgba(29, 161, 242, 1);
}

.current-page {
    color: rgba(29, 161, 242, 1);
    fill: rgba(29, 161, 242, 1);
}

.header-item-svg {
    height: 25px;
    vertical-align: text-bottom;
    position: relative;
    max-width: 100%;
}

.header-item-text {
    margin-left: 20px;
    margin-right: 15px;
    font-size: 19px;
    font-weight: 700;
}

.logout-button {
    border-radius: 9999px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    min-height: 49px;
    overflow-wrap: break-word;
    background-color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 6px;
    line-height: 1;
    flex-grow: 1;
    font-weight: bold;
    width: 60%;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
    margin-top: 1.54rem;
    margin-bottom: 1.5rem;
}

.logout-button:hover {
    background-color: rgb(26, 145, 218);
    border-color: rgb(26, 145, 218);
}

.profile-card-cont {
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: 0.2s;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 9999px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.profile-card-cont:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.profile-card-avatar {
    height: 39px;
    width: 39px;
    border-radius: 9999px;
}

.profile-card {
    display: flex;
    flex-direction: row;
}

.prof-card-name {
    font-weight: 700;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.3125;
}

.prof-card-username {
    font-weight: 400;
    color: rgb(136, 153, 166);
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.3125;
}

.card-name-cont {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
