.loginPageContainer {
    width: 100%;
    height: 100%;
}

.loginForm {
    margin: auto;
    width: 500px;
    color: white;
    align-self: center;
    vertical-align: middle;
    margin-top: 180px;
}

.loginHeader {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

.emailLabel {
    background-color: rgb(25, 39, 52);
    width: 100%;
    margin-bottom: 0;
    color: rgb(136, 153, 166);
    border-radius: 2px;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.loginButton {
    border-radius: 9999px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    min-height: 49px;
    overflow-wrap: break-word;
    background-color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 6px;
    line-height: 1;
    flex-grow: 1;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
    margin-top: 1.54rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}

.loginButton:hover {
    background-color: rgb(26, 145, 218);
    border-color: rgb(26, 145, 218);
}

a,
a:hover {
    color: rgb(27, 149, 224);
}

.signupLink {
    text-align: center;
    color: rgb(27, 149, 224);
    width: 100%;
}

.signupLink:hover {
    color: rgb(27, 149, 224);
}
