.sticky {
    position: fixed;
}

.theme-bg-color--dark{
    background-color: #794bc4;
}


.f01-form-container .form-container .btn-saved .theme--purple button, .theme--purple .f01-form-container .form-container .btn-saved button, .theme--purple .theme-bg-color--dark {
    background-color: #794bc4;
}

.theme--purple {
    background-color: #794bc4;
}
.nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1600px;
    width: 100%;
    height: 3rem;
    z-index: 101;
}

div {
    display: block;
}

.nav--wrapper {
    padding: 0 1.5rem;
    width: 100%;
}

.title {
    font-weight: 700;
}


.nav span {
    font-family: Helvetica Neue LT,Helvetica Neue,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: .9975rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.nav__headeritem-left {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.nav__headeritem-title {
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.logo-title {
    display: block;
    float: left;
    margin-right: .5rem;
    max-width: 150px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    white-space: nowrap;
}

.theme--purple a {
    color: #794bc4;
}

.nav__headeritem-left .nav__headeritem-title .logo-title .logo {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-right: .75rem;
}

.nav__headeritem-right .login-container .avatar {
    margin: -2px 0 0;
    cursor: pointer;
}

.theme--purple a {
    transition: color .3s ease-in-out;
}
.theme--purple .theme-color--dark, .theme--purple a {
    color: #794bc4;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.logo>svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
}

svg:not(:root) {
    overflow: hidden;
}



.color--neutral-white {
    color: #fff;
}


.search {
    margin-right: .75rem;
    display: inline-block;
    position: absolute;
    top: .75rem;
    right: 4.5rem;
}

.right-title {
    font-weight: 400;
}

a:hover {
    color: white;
}

button {
    margin-left: .75rem;

    background: none;
    border: 1px solid #fff;
    border-radius: 3rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0;
    padding: .05rem .5rem;
    text-align: center;
    color: #fff!important;
    text-transform: none;
}