.r-qklmqi {
    border-bottom-width: 1px;
}

.r-rull8r {
    border-bottom-style: solid;
}

.r-1ila09b {
    border-bottom-color: rgb(56, 68, 77);
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-aqfbo4 {
    backface-visibility: hidden;
}

.r-1g40b8q {
    z-index: 3;
}


.r-sb58tz {
    max-width: 1000px;
}

.r-13qz1uu {
    width: 100%;
}

.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}

.r-1h3ijdo {
    height: 53px;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-1wtj0ep {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.r-136ojw6 {
    z-index: 2;
}

.r-yfoy6g {
    background-color: rgb(21, 32, 43);
}

.r-rjfia {
    padding-bottom: 0px;
    padding-top: 0px;
}

.r-utggzx {
    padding-left: 10px;
    padding-right: 10px;
}

.r-1ye8kvj {
    width: 600px;
}

.r-184en5c {
    z-index: 1;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-1h3ijdo {
    height: 53px;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-utggzx {
    padding-left: 10px;
    padding-right: 10px;
}

.r-58zi21 {
    width: calc(240px);
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-1h3ijdo {
    height: 53px;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-1pz39u2 {
    align-self: stretch;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-aj3cln {
    min-width: calc(48.3px);
}

.r-1vsu8ta {
    min-height: 30px;
}

.r-1ny4l3l {
    outline-style: none;
}

.r-6416eg {
    transition-property: background-color, box-shadow;
}

.r-1niwhzg {
    background-color: rgba(0, 0, 0, 0);
}

.r-1w2pmg {
    height: 0px;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-o7ynqc {
    transition-duration: 0.2s;
}
.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.r-1fneopy {
    padding-left: 1em;
    padding-right: 1em;
}

.r-p1n3y5 {
    border-bottom-color: rgb(29, 161, 242);
    border-left-color: rgb(29, 161, 242);
    border-right-color: rgb(29, 161, 242);
    border-top-color: rgb(29, 161, 242);
}

.r-rs99b7 {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.r-1phboty {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.r-sdzlij {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.r-eljoum {
    line-height: 1;
}

.r-vw2c0b {
    font-weight: bold;
}

.r-a023e6 {
    font-size: 15px;
}

.r-1qd0xha {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.r-qvutc0 {
    overflow-wrap: break-word;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-1777fci {
    -webkit-box-pack: center;
    justify-content: center;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}
.r-q4m81j {
    text-align: center;
}
.r-13gxpu9 {
    color: rgba(29,161,242,1.00);
}
.r-dnmrzs {
    max-width: 100%;
}

.r-6koalj {
    display: flex;
}

.r-1qd0xha {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.r-qvutc0 {
    overflow-wrap: break-word;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-ad9z0x {
    line-height: 1.3125;
}

.css-bfa6kz {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-16my406 {
    color: inherit;
    font: inherit;
    white-space: inherit;
}


.r-1qd0xha {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.r-qvutc0 {
    overflow-wrap: break-word;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-ad9z0x {
    line-height: 1.3125;
}
.css-16my406 {
    color: inherit;
    font: inherit;
    white-space: inherit;
}

.css-901oao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0,0,0,1.00);
    display: inline;
    font: 14px system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}


.r-aj3cln {
    min-width: calc(48.3px);
}

.r-1vsu8ta {
    min-height: 30px;
}

.r-1ny4l3l {
    outline-style: none;
}

.r-6416eg {
    transition-property: background-color, box-shadow;
}

.r-1niwhzg {
    background-color: rgba(0, 0, 0, 0);
}

.r-1w2pmg {
    height: 0px;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-o7ynqc {
    transition-duration: 0.2s;
}
.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.r-1fneopy {
    padding-left: 1em;
    padding-right: 1em;
}

.r-p1n3y5 {
    border-bottom-color: rgb(29, 161, 242);
    border-left-color: rgb(29, 161, 242);
    border-right-color: rgb(29, 161, 242);
    border-top-color: rgb(29, 161, 242);
}

.r-rs99b7 {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.r-1phboty {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.r-sdzlij {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.r-eljoum {
    line-height: 1;
}

.r-vw2c0b {
    font-weight: bold;
}

.r-a023e6 {
    font-size: 15px;
}

.r-1qd0xha {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.r-qvutc0 {
    overflow-wrap: break-word;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-1awozwy {
    -webkit-box-align: center;
    align-items: center;
}

.r-1777fci {
    -webkit-box-pack: center;
    justify-content: center;
}

.r-16y2uox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.r-18u37iz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}
.r-q4m81j {
    text-align: center;
}
.r-13gxpu9 {
    color: rgba(29,161,242,1.00);
}
.r-dnmrzs {
    max-width: 100%;
}

.r-6koalj {
    display: flex;
}

.r-1qd0xha {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.r-qvutc0 {
    overflow-wrap: break-word;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-ad9z0x {
    line-height: 1.3125;
}

.css-bfa6kz {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-16my406 {
    color: inherit;
    font: inherit;
    white-space: inherit;
}

.r-qvutc0 {
    overflow-wrap: break-word;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-ad9z0x {
    line-height: 1.3125;
}

.hght {
    height: 100%;
}

.deco {
    text-decoration: none;
}

.mgnlft {
    margin-left: 10px;
}

.wght {
    font-weight: 800;
}

.hght2 {
    height: 53px;
}


.r-urgr8i {
    background-color: rgb(29, 161, 242);
    color: white;
}

.r-aj3cln {
    min-width: calc(48.3px);
}

.r-1vsu8ta {
    min-height: 30px;
}

.r-1ny4l3l {
    outline-style: none;
}

.r-6416eg {
    transition-property: background-color, box-shadow;
}

.r-1w2pmg {
    height: 0px;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-o7ynqc {
    transition-duration: 0.2s;
}
.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.r-1fneopy {
    padding-left: 1em;
    padding-right: 1em;
}

.r-42olwf {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}

.r-rs99b7 {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.r-1phboty {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.r-sdzlij {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
}